Lab1/Client/xml-resources/web-service-references/AAAWS/wsdl/localhost_8088/AAAWS.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://aaaws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://aaaws/">

<xs:element name="getClients" type="tns:getClients"></xs:element>

<xs:element name="getClientsResponse" type="tns:getClientsResponse"></xs:element>

<xs:complexType name="getClients">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getClientsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>