Software Engineering_OK/MyLabsEstate/Lab_1/BankWS/src/main/java/bankws/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="operation">
    <xs:sequence>
      <xs:element name="op_code" type="xs:int"/>
      <xs:element name="client_code" type="xs:int"/>
      <xs:element name="op_date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="amount" type="xs:int"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

